   <% flash.each do |type, msg| %>

   <div class="alert alert-warning alert-dismissible fade show col-8 offset-2"> <%= msg%>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
       </button>
   </div>
   <% end %>