// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary-color: #53a7e7;
$secondary-color: #213246;
$text-color: #687d92;

* {
  font-family: "Roboto", sans-serif;
}

a,
i {
  transition: 10ms;
}

a:hover {
  text-decoration: none;
  color: darken($text-color, 20);
}

ul {
  list-style: none;
}

.navbar-left {
  position: fixed;
  width: 250px;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $secondary-color;
  color: $text-color;

  &-top {
    background-color: darken($secondary-color, 3);
  }
}

.img-logo {
  width: 60px;
}

.rotate-class {
  transform: rotate(135deg);
  transition: 1s;
}

.fa-minus,
.fa-plus {
  color: lighten($text-color, 15);

  &:hover {
    color: $text-color;
  }
}

.like-con {
  position: absolute;
  top: 5px;
  right: 10px;
}

.img-dropdown {
  width: 80px;
  height: 80px;
}

.show-followers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.show-active {
  border-bottom: 3px solid $primary-color;
  color: darken(#213246, 20) !important;
}

.show-navbar {
  width: 100%;
  position: sticky;
  z-index: 2;
  top: 70px;
}

.round-img {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.left-img {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.navbar {
  margin-left: 250px;
  background-color: $primary-color;
  z-index: 3;
  height: 70px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.fa-co {
  color: darken($primary-color, 20);

  &:hover {
    cursor: pointer;
  }
}

.follower-con {
  border: 1px solid darken($secondary-color, 10);
}

.follower-right {
  border-right: 1px solid darken($secondary-color, 10);
}

.dropdown-menu-right {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(141, 141, 141, 0.562) 0 0 25px;
  position: fixed;
  right: 1rem;
  top: 60px;
  padding: 0 0.5rem;
  text-align: center;
  color: $text-color;
  width: 350px;
  z-index: 999999;
}

.dropdown-menu-message {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(141, 141, 141, 0.562) 0 0 25px;
  position: fixed;
  right: 5rem;
  top: 60px;
  padding: 0 0.5rem;
  text-align: center;
  color: $text-color;
  width: 350px;
  z-index: 999999;

  .img-dropdown {
    width: 40px;
    height: 40px;
  }
}

.top-user {
  position: relative;
}

.fa-plus-square-o,
.fa-minus-square-o,
.fa-pencil {
  position: absolute;
  top: 0;
  right: 5px;
  color: lighten(#687d92, 20);
  transition: 250ms;

  &:hover {
    color: #687d92;
  }
}

.color {
  color: $text-color;
}

.top-link {
  border-bottom: lighten($text-color, 40) solid 1px;
}

.dropdown-item {
  padding: 1rem;

  &:hover {
    border-radius: 10px;
  }
}

.drop-none {
  display: none;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  box-shadow: $text-color 0 0 5px;

  a {
    color: $text-color;

    &:hover {
      color: darken($text-color, 20);
    }
  }

  .card-img {
    background-size: cover;
    background-position: center;
    height: 150px;
  }
}

.top-div {
  background-color: rgb(238, 238, 238);
}

.left-items {
  color: $text-color;

  &:hover {
    color: lighten($text-color, 30);
    background-color: darken($primary-color, 10);

    & i {
      color: lighten($text-color, 30);
    }
  }
}

.content-page {
  min-height: 90vh;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr 280px;
  background-color: rgb(238, 238, 238);
}

.message-box {
  width: 98%;
}

.tweet-area {
  resize: none;
}

.form-button {
  margin-top: 1rem;
  text-align: center;
}

.tweet-img {
  width: 80px;
  height: 80px;
}

.date-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.date-time2 {
  position: absolute;
  bottom: -10px;
  right: 55px;
}

.tweet-box {
  border: rgba(119, 119, 119, 0.473) solid 1px;
  position: relative;
  max-width: 95%;
  min-width: 95%;
  border-radius: 7px;
  background-color: #fff;

  p {
    word-break: break-all;
  }
}

.word-breaker {
  text-align: right;
  background-color: #53a7e7;
  border-radius: 16px;
  margin-bottom: 1rem;
  color: #fff;
}

.word-break {
  text-align: left;
  background-color: #93a3b3;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.breaking {
  word-break: break-all;
  width: 50%;
  font-size: 13px;
  display: inline-block;
}

.cover-con {
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar-rightt {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 70px;
  height: 85vh;
  width: 280px;
  overflow-y: scroll;
  background-color: #fff;
}

.navbar-right {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 70px;
  background-color: rgb(250, 250, 250);
  padding: 1rem;
  width: 280px;
  border-left: lighten($text-color, 40) solid 1px;
}

.lighter {
  font-weight: 100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.top-right-followers {
  border-top: lighten($text-color, 40) solid 1px;
  border-bottom: lighten($text-color, 40) solid 1px;
}

.middle-con {
  border-left: lighten($text-color, 40) solid 1px;
  border-right: lighten($text-color, 40) solid 1px;
}

.text-muted {
  font-size: 13px;
}

.no-display {
  display: none;
}

.message-con {
  img {
    width: 40px;
    height: 40px;
  }
}

.ordering {
  order: 2;
}

.navbar-right-bottom {
  position: relative;

  .text-mute {
    font-size: 15px;
    color: lighten(#777, 10);
  }

  .img-dropdown {
    width: 40px;
    height: 40px;
  }
}

.signup {
  position: relative;
  background-image: url("https://img2.pngio.com/wave-vector-abstract-background-waves-line-blue-orange-orange-wave-line-png-640_640.png");
  background-size: cover;
}

.alert-warning {
  z-index: 2;
  width: 100%;
}

.right-bottom-bottom {
  border-top: lighten($text-color, 40) solid 1px;
}

.profile-img {
  width: 40%;
}
